<div class="app-container">
  <header class="header">
    <span class="title">{{ 'COMMIT_MESSAGE_GENERATOR' | translate }}</span>
    <button mat-button (click)="openLanguageModal()" class="language-button">
      <div class="language-content">
        <ng-container *ngIf="getCurrentLanguage() as lang">
          <img 
            [src]="'assets/flags/' + lang.code.split('-')[0] + '.svg'"
            [alt]="lang.name + ' flag'"
            (error)="handleImageError($event, lang.code)"
            class="flag-icon"
          >
          <span class="flag-text" [class.visible]="!flagVisible">{{ lang.code.toUpperCase() }}</span>
        </ng-container>
        <span class="language-text">{{ getCurrentLanguageName() }}</span>
      </div>
    </button>
  </header>
  
  <main>
    <app-commit-generator></app-commit-generator>
  </main>
</div>

